# BMS Production Environment Variables
MONGODB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=bms_production
SECRET_KEY=generate_a_secure_random_production_secret_key_here
PORT=8000
